<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
      <a routerLink="" class="navbar-brand">TRONICA</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
              <a class="nav-item nav-link pointer" routerLink="" routerLinkActive="router-link-active">Home</a>
              <a class="nav-item nav-link pointer" routerLink="employees" routerLinkActive="router-link-active">Employees</a>
          </div>
      </div>
  </div>
</nav>